html{
	overflow: auto;
}

#foxy{
	position: absolute;
	z-index: 10000;
}

#foxy img{
	width: 50%;
}

.paw{
	position:absolute;
	z-index:10000;
	opacity:0;
	animation:fade 2s 1;
	-webkit-animation:fade 2s 1;
	transition:all 1s ease;
	pointer-events:none
}

@-webkit-keyframes fade{
	0%{
		opacity:1;
	}

	100%{
		opacity:0;
	}
}

@keyframes fade{
	0%{
		opacity:1;
	}

	100%{
		opacity:0;
	}

}

@-webkit-keyframes run{
	0%{
		margin-right: 0%;
	}

	100%{
		margin-right: -100%;
	}
}

@keyframes run{
	0%{
		margin-right: 0%;
	}

	100%{
		margin-right: -100%;
	}
}


